[Unit]
Description=Starts hueComposer on boot
After=network-online.target
#After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/python /home/pi/hueComposer/hueComposer.py -c /home/pi/imgs/config.yml -b /home/pi/imgs/

[Install]
WantedBy=multi-user.target
